@inherits InputBase<string>

<div class="password-field">
    <label>@Title</label>
    <input type="@InputType" class="form-control" id="@Id" placeholder="@Placeholder" @bind="@CurrentValue" @bind:event="oninput" />
    @if (ShowReveal)
    {
        <img src="images/@RevealIcon" alt="" @onclick="OnRevealPassword" />
    }
</div>

@code 
{
    private string InputType { get; set; } = "password";
    private string RevealIcon { get; set; } = "password-reveal-on.svg";

    [Parameter]
    public string Id { get; set; } = Guid.NewGuid().ToString();

    [Parameter]
    public string Title { get; set; } = "";
    
    [Parameter]
    public string Placeholder { get; set; } = "";

    [Parameter]
    public bool ShowReveal { get; set; } = true;
    
    protected override bool TryParseValueFromString(string? value, out string result, out string validationErrorMessage)
    {
        result = value!;
        validationErrorMessage = null!;
        return true;
    }

    private void OnRevealPassword()
    {
        InputType = InputType == "password" ? "text" : "password";
        RevealIcon = RevealIcon == "password-reveal-on.svg" ? "password-reveal-off.svg" : "password-reveal-on.svg";
    }
}
